<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <header class="mx-auto container">
      <a href="/"><img src="/static/arc-logo-horizontal.svg" alt="ARC Waste Compactors" class="w-18 mx-auto my-16"></a>
    </header>
    {{ content | safe }}
    <footer class="mx-auto container">
      <p class="flex items-center justify-center text-gray-400">
       Copyright © 2019 American Rental Company - All Rights Reserved.
       </p>
    </footer>
  </body>
  <script src="/static/app.bundled.js"></script>
</html>