---
layout: base.njk
title: Eliminate Waste and Recycling Equipment Headaches
---

<main id="main">
    <div class="container mx-auto px-6">
        <h1 class="my-4 text-4xl text-center text-blue-500">Save Money While Reducing Downtime and Trash Pile-up</h1>
        <div class="flex flex-col md:flex-row items-center mb-12">
            <div class="flex flex-col w-full lg:w-2/3 justify-center items-start pt-12 pb-24">
                <p class="leading-normal mb-4 text-xl">Our customers save money, reduce downtime and trash pile-up, and no longer need to worry about sub-par equipment from their hauler.  They can focus on the work that makes their business succeed.</p>
                <a class="no-underline bg-blue-500 text-white hover:bg-blue-600 rounded shadow hover:shadow-lg py-3 px-6 text-2xl" href="/contact/">Contact Us</a>
            </div>
            <div class="w-full lg:w-1/3 lg:py-6 text-center">
                <img src="/static/hero-compactor.jpg" alt="Waste compactor"/>
            </div>
        </div>
    </div>
    <div class="bg-blue-500 py-8">
        <div class="container text-white mx-auto px-6">
            <h2 class="text-3xl italic text-center">We make waste equipment hassle-free with high-quality equipment and best-in-class service.</h2>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row mb-12">
            <div class="flex flex-col w-full lg:w-1/3 items-start px-4 lg:px-0 my-12 md:my-18 lg:my-24">
                <h3 class="text-2xl">Types of Compactors</h3>
                <ul class="list-inside list-disc py-6">
                    <li>Apartment Compactors</li>
                    <li>Vertical Balers</li>
                    <li>Horizontal Balers</li>
                    <li>Front Load Compactors</li>
                    <li>Pre-Crushers</li>
                    <li>Self-Contained Compactors</li>
                    <li>Stationary Compactors</li>
                </ul>
            </div>

            <div class="flex flex-col w-full lg:w-1/3 items-start px-4 lg:px-0 my-12 md:my-18 lg:my-24">
                <h3 class="text-2xl">Rental Applications</h3>
                <ul class="list-inside list-disc py-6">
                    <li>Retail</li>
                    <li>Grocery store chains</li>
                    <li>Restaurants </li>
                    <li>Commercial Property </li>
                    <li>Gas Stations</li>
                    <li>Warehouses</li>
                    <li>Municipalities</li>
                    <li>School Districts/Universities</li>
                    <li>Manufacturing</li>
                    <li>Industrial</li>
                </ul>
            </div>
            <div class="flex flex-col w-full lg:w-1/3 items-start px-4 lg:px-0 my-12 md:my-18 lg:my-24">
                <h3 class="text-2xl mb-6">Get Started Now</h3>

                <a class="no-underline bg-blue-500 text-white hover:bg-blue-600 rounded shadow hover:shadow-lg py-3 px-6 text-2xl" href="/contact/">Contact Us</a>
            </div>
        </div>
    </main>